[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tkinter = "*"
pyinstaller = "*"
pil = "*"
pillow = {path = "./Pillow-7.1.2-cp39-cp39-win_amd64.whl"}

[requires]
python_version = "3.7"
